
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#login-blade{
  background-image: url('http://127.0.0.1:8000/img/bcg.jpg');
  background-position: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  #logo{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
  }
}
#logo{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.login{
  with:400px;
}
#app-navbar-collapse{
  background: #847F80;
  color:white
}
.navbar-default {
  .navbar-nav {
    li {
      a{
        color:white
      }
    }

  }
}